@import "tailwindcss";

@keyframes morph {
    0% {
        border-radius: 40% 60% 70% 30% / 50% 30% 70% 50%;
    }
    25% {
        border-radius: 60% 40% 30% 70% / 50% 70% 30% 50%;
    }
    50% {
        border-radius: 30% 70% 60% 40% / 70% 50% 50% 30%;
    }
    75% {
        border-radius: 70% 30% 40% 60% / 30% 50% 70% 50%;
    }
    100% {
        border-radius: 40% 60% 70% 30% / 50% 30% 70% 50%;
    }
}


.morphing-profile{
    animation: morph 8s ease-in-out infinite;
}

@keyframes upDown {
  0% {
    transform: translate(0px, 0px) rotate(10deg);
  }
  25% {
    transform: translate(8px, 12px) rotate(20deg);
  }
  50% {
    transform: translate(-10px, 8px) rotate(-20deg);
  }
  75% {
    transform: translate(-12px, -10px) rotate(10deg);
  }
  100% {
    transform: translate(15px, -12px) rotate(-10deg);
  }
}

.github {
  animation: upDown 6s ease-in-out infinite alternate;
  will-change: transform;
}